<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <title>magic square</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/magicSquare.css"/>
</head>
<body>
<div class="con">
    <div class="container">
        <div class="part1">              <!--正面 1-->
            <div class="small_box color1"></div>
            <div class="small_box color1"></div>
            <div class="small_box color1"></div>
            <div class="small_box color1"></div>
            <div class="small_box color1"></div>
            <div class="small_box color1"></div>
            <div class="small_box color1"></div>
            <div class="small_box color1"></div>
            <div class="small_box color1"></div>
        </div>
        <div class="part2">              <!--背面 2-->
            <div class="small_box color2"></div>
            <div class="small_box color2"></div>
            <div class="small_box color2"></div>
            <div class="small_box color2"></div>
            <div class="small_box color2"></div>
            <div class="small_box color2"></div>
            <div class="small_box color2"></div>
            <div class="small_box color2"></div>
            <div class="small_box color2"></div>
        </div>
        <div class="part3">              <!--顶面 3-->
            <div class="small_box color3"></div>
            <div class="small_box color3"></div>
            <div class="small_box color3"></div>
            <div class="small_box color3"></div>
            <div class="small_box color3"></div>
            <div class="small_box color3"></div>
            <div class="small_box color3"></div>
            <div class="small_box color3"></div>
            <div class="small_box color3"></div>
        </div>
        <div class="part4">              <!--底面 4-->
            <div class="small_box color4"></div>
            <div class="small_box color4"></div>
            <div class="small_box color4"></div>
            <div class="small_box color4"></div>
            <div class="small_box color4"></div>
            <div class="small_box color4"></div>
            <div class="small_box color4"></div>
            <div class="small_box color4"></div>
            <div class="small_box color4"></div>
        </div>
        <div class="part5">              <!--左面 5-->
            <div class="small_box color5"></div>
            <div class="small_box color5"></div>
            <div class="small_box color5"></div>
            <div class="small_box color5"></div>
            <div class="small_box color5"></div>
            <div class="small_box color5"></div>
            <div class="small_box color5"></div>
            <div class="small_box color5"></div>
            <div class="small_box color5"></div>
        </div>
        <div class="part6">              <!--右面 6-->
            <div class="small_box color6"></div>
            <div class="small_box color6"></div>
            <div class="small_box color6"></div>
            <div class="small_box color6"></div>
            <div class="small_box color6"></div>
            <div class="small_box color6"></div>
            <div class="small_box color6"></div>
            <div class="small_box color6"></div>
            <div class="small_box color6"></div>
        </div>
    </div>
</div>
</body>
</html>