<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <title>Train</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/train.css"/>
</head>
<body>
<div class="con">
    <div class="container">
        <div class="cheshen"></div>
        <div class="lunzi1"></div>
        <!--后轮1-->
        <div class="lunzi11"></div>
        <!--后轮*-->
        <div class="lunzi2"></div>
        <!--后轮2-->
        <div class="lunzi22"></div>
        <!--后轮*-->

        <div class="lunzi3"></div>
        <!--前轮1-->
        <div class="lunzi33"></div>
        <!--前轮*-->
        <div class="lunzi4"></div>
        <!--前轮2-->
        <div class="lunzi44"></div>
        <!--前轮*-->
        <div class="yancong1"></div>
        <!--烟囱1-->
        <div class="yancong2"></div>
        <!--烟囱2-->
        <div class="yancong3"></div>
        <!--烟囱3-->
        <div class="chetou1"></div>
        <!--车前杠1-->
        <div class="chetou2"></div>
        <!--车前杠2-->
        <div class="chetou3"></div>
        <!--前轮杠1-->
        <div class="chetou4"></div>
        <!--前轮杠2-->
        <div class="chetou5"></div>
        <!--前轮杠3-->
        <!--驾驶舱-->
        <div class="jiashi1"></div>
        <div class="jiashi2"></div>
        <div class="jiashi3"></div>
        <div class="jiashi4"></div>
        <!--车尾-->
        <div class="chewei1"></div>
        <div class="chewei2"></div>
        <div class="chewei3"></div>
        <div class="chewei4"></div>

        <!--运动部分-->
        <div class="chetou6"></div>

        <!--前轮rotate-->
        <div class="line1">
            <div class="line11"></div>
            <div class="line12"></div>
            <div class="line13"></div>
            <div class="line14"></div>
            <div class="line15"></div>
            <div class="line16"></div>
        </div>
        <div class="line2">
            <div class="line11"></div>
            <div class="line12"></div>
            <div class="line13"></div>
            <div class="line14"></div>
            <div class="line15"></div>
            <div class="line16"></div>
        </div>
        <!--后轮rotate-->
        <div class="line3">
            <div class="line31"></div>
            <div class="line32"></div>
            <div class="line33"></div>
            <div class="line34"></div>
            <div class="line35"></div>
            <div class="line36"></div>
        </div>
        <div class="line4">
            <div class="line31"></div>
            <div class="line32"></div>
            <div class="line33"></div>
            <div class="line34"></div>
            <div class="line35"></div>
            <div class="line36"></div>
        </div>

        <!--后轮杠杆-->
        <div class="yellow1"></div>
        <div class="green"></div>

    </div>
</div>
</body>
</html>