<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow"/>
    <meta name="description" content="hellowhite"/>
    <meta name="keywords" content="hellowhite lianglinjing linjing white 梁林静"/>
    <meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta name="baidu-site-verification" content="HxnO9kwTLu" /> 
    <link rel="shortcut icon" href="/images/main/ico.ico" type="image/x-icon">
    <title>Hello-White</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mediaStyle.css"/>
    <script language="JavaScript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/json.js"></script>
    <!-[if IE]->
    <script language="JavaScript" src="/javascripts/html5.js"></script>
    <!-[end if]->
</head>

<body>


<div class="header">
    <div class="headerCon">
        <h1>HELLO-WHITE</h1>
        <a class="sina" href="http://weibo.com/white574">
            <img src="/images/main/sina.png" alt="sina">
        </a>
        <a class="git" href="https://github.com/white-J">
            <img src="/images/main/git.png" alt="git">
        </a>
        <a class="meun" href="javascript:void(0);">
            <img src="/images/main/menu.png" alt="menu">
        </a>
    </div>
</div>


<div class="mainPC">
    <div class="mainCon">

        <div class="photos">
            <div><span id="img1"></span></div>
            <div><span id="img2"></span></div>
            <div><span id="img3"></span></div>
            <div><span id="img4"></span></div>
            <div><span id="img5"></span></div>
            <div><span id="img6"></span></div>
            <div><span id="img7"></span></div>
            <div><span id="img8"></span></div>
            <p class="clear"></p>
        </div>

        <div class="fullScreen">
            <img src="" alt="">
        </div>

        <div class="mainAbout">
            <h2>White Liang</h2>

            <p>姓名：梁林静</p>

            <p>生日：1993年4月21日</p>

            <p>毕业于吉林大学珠海学院-物流与信息管理系</p>

            <p>入行前端2年</p>

            <div class="knowMore">Learn More About Me</div>
        </div>
        <div class="passages">
            <!--left-->
            <div class="passL">
                <div class="passCon">


                </div>
                <a href="javascript:;" class="showMore">点击查看更多</a>
            </div>

            <!--right-->
            <div class="passR">
                <a href="javascript:;">目录11</a>
                <ul>
                    <li>1.</li>
                    <li>1.</li>
                    <li>1.</li>
                    <li>1.</li>
                    <li>1.</li>
                </ul>
                <a href="javascript:;">目录22</a>
                <ul>
                    <li>2.</li>
                    <li>2.</li>
                    <li>2.</li>
                    <li>2.</li>
                    <li>2.</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!--EMAIL-->
        <!--<div class="email"></div>-->
    </div>
</div>


<!---->
<div class="footer">
    <div class="copyRight"> Copyright ©2016 White Liang</div>
</div>

<!---->
<div class="baidu">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?1967d1fee819ab59a817506bb819a3e9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</div>



<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>