<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="index,follow"/>
    <meta content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <link rel="shortcut icon" href="/images/main/ico.ico" type="image/x-icon">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/passages.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mediaStyle.css"/>
    <script language="JavaScript" src="/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/json.js"></script>
    <!-[if IE]->
    <script language="JavaScript" src="/javascripts/html5.js"></script>
    <!-[end if]->
</head>
<body>

<div class="header">
    <div class="headerCon">
        <h1>HELLO-WHITE</h1>
        <a class="sina" href="http://weibo.com/white574">
            <img src="/images/main/sina.png" alt="sina">
        </a>
        <a class="git" href="https://github.com/white-J">
            <img src="/images/main/git.png" alt="git">
        </a>
        <a class="meun" href="javascript:void(0);">
            <img src="/images/main/menu.png" alt="menu">
        </a>
    </div>
</div>


<div class="mainPC">
    <div class="mainCon">
        <div class="passMain">
            <h2 id="title"></h2>
            <p>
                <span id="addDate"></span>
                <a id="types" href="javascript:;"></a>
                <a href="javascript:;">white</a>
            </p>
            <div id="mainText"></div>
        </div>

        <div class="rightList"></div>

        <div class="clear"></div>
    </div>
</div>

<!---->
<div class="footer">
    <div class="copyRight"> Copyright ©2016 White Liang</div>
</div>
<!---->

<script type="text/javascript" src="/javascripts/main.js"></script>
<script>
    GetStringValue();

</script>
</body>
</html>